body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}

body {
	font: 14px "RobotoRegular", sans-serif;
	height: 100%;
	/*background-image:url(../images/bg_body.png);*/
}

a {
	color:#0054b9;
}

.wrapper {
	/*min-width: 1000px;*/
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*background-color:#FFFFFF;*/
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	/*background: #FFE680;*/
}
	
	.header-menu {
		height:50px;
		background: #FFE680;
	}
	
	.header-logo-wrap {
		width:25%;
		float:left;
	}
	
		.header-logo-content {
			margin:20px 0 0 0px;
			position:relative;
			/*font-size: 12px;*/
		}
			
			#logo-text1 {
				position: absolute;
				top:0; left:70px;
				/*text-transform: uppercase;*/
				color: #3CB371;
				text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
			}

				#logo-text2 {
					position: absolute;
					top:20px; left:107px;
					color: #3CB371;
					text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
				}
			

			.header-logo-content a {
				color:#EF4023;
				font-family: "RobotoRegular", sans-serif;
				display:block;
				font-size:34px;
				text-transform:uppercase;
				text-decoration:none;
				cursor:pointer;
				border:none;
				outline:none;
				/*margin-bottom:5px;*/
			}
			.header-logo-content span {
				color:#5c5c5f;
			}
			
	.header-middle-wrap {
		width:45%;
		margin:0 25%;
	}
	.header-contacts-wrap {
		width:30%;
		float:right;
	}
	
		.header-contacts-content {
			margin:20px 0 0 40px;
			padding-left: 47px;
		}
		
		.header-contacts-content p {
			/*line-height:20px;*/
			margin:0;
			font-size:16px;
			color:#5c5c5f;
		}

/*.top-menu*/	

/*** Верхнее меню ***/
.top-menu {
	
}

	.top-menu ul {
		margin:0; padding:0;
	}
	
		.top-menu ul li {
			float:left;
		}
		
			.top-menu ul li a {
				
			}
			
			.top-menu ul li a.tm-active, 
			.top-menu ul li a:hover {
				
			}

/* top-cart (корзина в верхнем меню) */



/* Middle 
-----------------------------------------------------------------------------*/
.content {
	padding: 0px 0px 95px 0;
}

	.left-sidebar {
		padding: 50px 0 0 0;
		width:23%;
		float: left;
		/*min-width: 190px;*/
	}

	.right-content {
		width: 75%; 
		float: right;
		margin-left: 2%;
		padding: 0px 0 0 0;
	}

	

/*Детальный просмотр товара*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	/*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #fff -moz-use-text-color;
    border-image: none;
     border-style: solid solid none;
    border-width: 2px 2px medium;*/
    border-bottom: none;
    border-radius: 4px;
    background: #e5e5e5 none repeat scroll 0 0;
    height: 75px;
    margin: -75px auto 0;
    max-width: 1000px;
    position: relative;
}
	
	.footer-copy {
		
	}
	
/*Служебные стили*/

/*-- Очистка потока --*/
.clearfix:before,
	.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	*zoom: 1;
}

/*-- Обтекание --*/

.f-right{
	float:right;
}

.f-left{
	float:left;
}

/*-- Выравнивание строк --*/

.ta-left {
	text-align:left;
}

.ta-right {
	text-align:right;
}

.ta-center {
	text-align:center;
}

/*-- Выравнивание по средине --*/
/*.mid {
	
	max-width:1000px;
	margin:auto;
}
*/
/*-- Скрытие элемента --*/

.hide {
	display:none;
}


/* MEDIA */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.header-middle-wrap {
		display:none;
	}
	
	.header-logo-wrap, .header-contacts-wrap {
		width:50%;
	}
	
	.services {
		padding:0;
	}
	
		.service-item {
			clear:both;
			float:none;
			width:auto;
			margin-right:0;
			margin-bottom:50px;
		}
	
	.footer {
		width:auto;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-middle-wrap {
		display:none;
	}
	
	.header-logo-wrap, .header-contacts-wrap {
		width:50%;
	}
	
	.services {
			padding:0;
		}
		
			.service-item {
				clear:both;
				float:none;
				width:auto;
				margin-right:0;
				margin-bottom:50px;
			}
			
				/*.link-wrap {
					margin-top:20px;
				}
				
					a.service-item-button {
						float:none;
						display:inline;
					}*/
	
	.footer {
		width:auto;
	}

	.top-menu ul li {
		clear:both;
		float:none;
	}
	
}

/* Extra Small Devices, Phones background: #D1D2D4;*/
@media only screen and (max-width : 480px) {
	
	.header {
		height:auto;
	}
	
		.header-middle-wrap {
			display:none;
		}
		
		.header-logo-wrap, .header-contacts-wrap {
			clear:both;
			float:none;
			width:auto;
		}
		
		.header-logo-wrap {
			padding-bottom:20px;
			background-color:#F3F3F6;
			/*border-bottom:1px solid #D1D2D4;*/
			overflow:hidden;
		}
		
		 .header-contacts-wrap {
			padding-bottom:30px;
		 }

	.services {
			padding:0;
		}
		
			.service-item {
				clear:both;
				float:none;
				width:auto;
				margin-right:0;
				margin-bottom:50px;
			}
				
				/*.link-wrap {
					margin-top:20px;
				}
				
					a.service-item-button {
						float:none;
						display:inline;
					}*/
	
	.footer {
		width:auto;
	}

	.top-menu ul li {
		clear:both;
		float:none;
	}
	
}

/* Small Devices, Tablets 
@media only screen and (min-width : 768px) {
	
	.service-item {
		clear:both;
		float:none;
		width:auto;
	}

}*/

