body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}

body {
	font: 14px "RobotoRegular", sans-serif;
	height: 100%;
	background-image:url(../images/bg_body.png);
}
.wrapper {
	/*min-width: 1000px;*/
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*background-color:#FFFFFF;*/
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	/*background: #FFE680;*/
}
	
	.header-menu {
		height:50px;
		background: #FFE680;
	}
	
	.header-logo-wrap {
		width:30%;
		float:left;
	}
	
		.header-logo-content {
			margin:20px 0 0 20px;
		}
			.header-logo-content a {
				color:#EF4023;
				font-family: "RobotoRegular", sans-serif;
				display:block;
				font-size:34px;
				text-transform:uppercase;
				text-decoration:none;
				cursor:pointer;
				border:none;
				outline:none;
				/*margin-bottom:5px;*/
			}
			.header-logo-content span {
				color:#5c5c5f;
			}
			
	.header-middle-wrap {
		width:40%;
		margin:0 30%;
	}
	.header-contacts-wrap {
		width:30%;
		float:right;
	}
	
		.header-contacts-content {
			margin:20px 0 0 20px;
		}
		
		.header-contacts-content p {
			/*line-height:20px;*/
			margin:0;
			font-size:22px;
			color:#5c5c5f;
		}

/*.top-menu*/		

.top-menu {
	margin:20px 10px 0px;
	padding:10px;
	border:1px solid #dedede;
	/*border-left:1px solid #dedede;*/
	background-color:#F3F3F6;
	border-radius:4px;
	background-color:#fff;
}

	.top-menu ul {
		margin:0; padding:0;
	}
	
		.top-menu ul li {
			float:left;
		}
		
			.top-menu ul li a {
				display:block;
				color:#5c5c5f;
				text-transform:uppercase;
				text-decoration:none;
				border:none;
				outline:none;
				padding:10px;
				font-size:15px;
				border-radius:4px;
				margin-right:2px;
				transition: all 0.3s ease 0s;
			}
			
			.top-menu ul li a.tm-active, 
			.top-menu ul li a:hover {
				background-color:#FF7F50; color:#FFFFFF;
			}

/* Middle 
-----------------------------------------------------------------------------*/
.content {
	padding: 0px 10px 120px;
}

	.left-sidebar {
		padding: 50px 0 0 0;
		width:23%;
		float: left;
		/*min-width: 190px;*/
	}

		.left-sidebar-widget{
			background-color: #fff;
			border: 1px solid #dedede;
			padding: 10px 10px 10px 10px;
			border-radius: 4px;
		}

			.left-sidebar-widget h3 {
				font-weight: normal;
				font-size: 18px;
				margin:0;
				padding: 0;
				margin-bottom: 15px;
			}

			.left-sidebar-widget ul {
				margin:0;
				padding: 0;
			}

				.left-sidebar-widget ul li{
					padding-bottom: 10px;
				}
					
					.left-sidebar-widget ul li .fa {
						font-size: 13px;
						color: #3CB371;
					}

					.left-sidebar-widget ul li a {
						color: #5c5c5f;
						padding-left: 5px;	
					}

					.left-sidebar-widget ul li a:hover {
						text-decoration: none;
					}

	.right-content {
		width: 75%; 
		float: right;
		margin-left: 2%;
		padding: 50px 0 0 0;
	}

		.product-item {
			width: 30%;
			background-color: #fff;
			border: 1px solid #DEDEDE;
			border-radius: 4px;
			float: left;
			margin-left: 3%;
		}
			
			.product-item-img{
				width: 100%;
				padding: 3%;
			}

				.product-item-img img {
					display: block;
					width: 94%;
				}

				.product-item-title {
					padding: 3%;

				}

					.product-item-title a {
						color: #5c5c5f;	
						text-decoration: none;						
					}

					.product-item-title a:hover {
						color:#7A7A7D;
					}

				.product-item-price {
					padding: 3%;
				}

					.product-item-price span.pi-span-price {
						float: left;
						font-size: 16px;
					}

					.product-item-price span.pi-span-cart {
						float: right;
					}

						.product-item-price span.pi-span-cart .fa {
							color:#3CB371;
							cursor: pointer;
							font-size: 17px;
						}

						.product-item-price span.pi-span-cart .fa:hover {
							color:#2AA15F;
						}

/*Детальный просмотр товара*/

.detail-product {
	width: 96%;
	background-color: #fff;
	border-radius: 4px;
	padding: 2%;
	border:1px solid #DEDEDE;
}

	.product-info-container {
		margin-bottom: 15px;
	}

		.detail-product-gallery {
			width: 40%;
			float: left;
		}

			.gallery-main {
				margin-bottom: 15px;
			}
				.gallery-main img {
					width:100%;
				}

			.gallery-thumbs {}

				.gallery-thumbs img {
					width: 30%;
					float:left;
					margin: 0 3% 15px 0;
				}

		.detail-product-info {
			width: 57%;
			float: right;
			margin-left: 3%;
		}
			
			.title-product {
				font-weight: normal;
				font-size: 18px;
				margin:0;
				padding: 0;
				margin-bottom: 25px;
			}
			
			.price-product {
				margin-bottom: 25px;
			}

				.price-product p {
					margin: 0;
					padding: 0;
					line-height: 18px;
					font-size: 18px;
				}

			.calc-product {
				margin-bottom: 25px;
			}

				.calc-product span {
					float: left;
					border: 1px solid #dedede;
					width: 24px; height: 24px;
					cursor: pointer;
				}

				.calc-plus {
					text-align: center;
					line-height: 24px;
					color: #7F7F7F;
					border-radius: 0 3px 3px 0;
					background-color: #fff;
				}

					.calc-plus:hover {background-color: #F2F2F2;}

				.calc-minus {
					text-align: center;
					line-height: 24px;
					color: #7F7F7F;
					border-radius: 3px 0 0 3px;
					background-color: #fff;
				}

					.calc-minus:hover {background-color: #F2F2F2;}

				.calc-input {
					width: 36px !important;
					text-align: center;
					border-right: none !important;
					border-left: none !important;
				}

					.calc-input input {
						width: 100%;
						margin: 0; padding: 0;
						line-height: 24px;
						border: none;
						outline: none;
						text-align: center;
						font-size: 16px;
						color: #7F7F7F;
						font-weight: bold;
					}

				.calc-sum {
					width: 70px !important;
					text-align: left;
					padding-left: 20px;
					border: none !important;
					font-size: 16px;
					/*font-weight: bold;*/
					color: #3CB371;
					line-height: 26px;
				}

			.action-product {}

				.action-product > div {
					width: 160px;
					float: left;
					margin-right: 10px;
				}

					.action-product > div > button {
						border: none;
						outline: none;
						padding: 7px 10px;
						color: #fff;
						border-radius: 4px;
						transition: all 0.3s ease 0s;
					}

					.add-cart {
						background-color: #3CB371;
					}

					.order-now {
						background-color: #FF7F50;
					}

					.order-now:active {
						margin-top: 1px;
					}

					.add-cart:active {
						margin-top: 1px;
					}
					
					.add-cart:hover {
						background-color: #2FAB66;
					}

					.order-now:hover {
						background-color: #FC7240;
					}

	.product-description {}
	
		.product-description h3 {
			font-weight: normal;
			font-size: 18px;
			margin:0;
			padding: 0;
			margin-bottom: 15px;
		}

		.product-description-text {
			padding: 10px;
			background-color: #F6F6F6;
		}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	max-width: 1000px;
	height: 100px;
	background:#D1D2D4;
	position: relative;
	/*box-sizing:border-box;*/
}
	
	.footer-copy {
		
	}
	
/*Служебные стили*/

/*-- Очистка потока --*/
.clearfix:before,
	.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	*zoom: 1;
}

/*-- Обтекание --*/

.f-right{
	float:right;
}

.f-left{
	float:left;
}

/*-- Выравнивание строк --*/

.ta-left {
	text-align:left;
}

.ta-right {
	text-align:right;
}

.ta-center {
	text-align:center;
}

/*-- Выравнивание по средине --*/
/*.mid {
	
	max-width:1000px;
	margin:auto;
}
*/
/*-- Скрытие элемента --*/

.hide {
	display:none;
}


/* MEDIA */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.header-middle-wrap {
		display:none;
	}
	
	.header-logo-wrap, .header-contacts-wrap {
		width:50%;
	}
	
	.services {
		padding:0;
	}
	
		.service-item {
			clear:both;
			float:none;
			width:auto;
			margin-right:0;
			margin-bottom:50px;
		}
	
	.footer {
		width:auto;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header-middle-wrap {
		display:none;
	}
	
	.header-logo-wrap, .header-contacts-wrap {
		width:50%;
	}
	
	.services {
			padding:0;
		}
		
			.service-item {
				clear:both;
				float:none;
				width:auto;
				margin-right:0;
				margin-bottom:50px;
			}
			
				/*.link-wrap {
					margin-top:20px;
				}
				
					a.service-item-button {
						float:none;
						display:inline;
					}*/
	
	.footer {
		width:auto;
	}

	.top-menu ul li {
		clear:both;
		float:none;
	}
	
}

/* Extra Small Devices, Phones background: #D1D2D4;*/
@media only screen and (max-width : 480px) {
	
	.header {
		height:auto;
	}
	
		.header-middle-wrap {
			display:none;
		}
		
		.header-logo-wrap, .header-contacts-wrap {
			clear:both;
			float:none;
			width:auto;
		}
		
		.header-logo-wrap {
			padding-bottom:20px;
			background-color:#F3F3F6;
			/*border-bottom:1px solid #D1D2D4;*/
			overflow:hidden;
		}
		
		 .header-contacts-wrap {
			padding-bottom:30px;
		 }

	.services {
			padding:0;
		}
		
			.service-item {
				clear:both;
				float:none;
				width:auto;
				margin-right:0;
				margin-bottom:50px;
			}
				
				/*.link-wrap {
					margin-top:20px;
				}
				
					a.service-item-button {
						float:none;
						display:inline;
					}*/
	
	.footer {
		width:auto;
	}

	.top-menu ul li {
		clear:both;
		float:none;
	}
	
}

/* Small Devices, Tablets 
@media only screen and (min-width : 768px) {
	
	.service-item {
		clear:both;
		float:none;
		width:auto;
	}

}*/

